body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #555;
}

.table-container {
    overflow-x: auto;
    margin-bottom: 20px;
}

.cotizaciones-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 0.9em;
    min-width: 1000px;
    border: 1px solid #dddddd;
}

.cotizaciones-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.cotizaciones-table th, .cotizaciones-table td {
    padding: 12px 15px;
}

.cotizaciones-table th.acciones-header {
    text-align: center;
}

.cotizaciones-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.cotizaciones-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.cotizaciones-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.cotizaciones-table tbody tr:hover {
    background-color: #f1f1f1;
}

.cotizaciones-table img {
    max-width: 100px;
    height: auto;
}

a {
    color: #009879;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.action-btn {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px; /* Ajustar tamaño */
    border-radius: 4px;
    margin-right: 10px; /* Ajustar espaciado */
    display: inline-block;
    min-width: 90px; /* Asegurar mismo tamaño */
    text-align: center; /* Asegurar alineación */
}

.action-btn.modify {
    background-color: #4CAF50;
}

.action-btn.delete {
    background-color: #f44336;
    margin-right: 0; /* Quitar margen derecho en el último botón */
}

.action-btn-wrapper {
    display: flex;
    gap: 10px; /* Añadir espacio entre botones */
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: #009879;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 10px;
}

.btn.logout {
    background-color: #f44336;
}

.btn:hover {
    background-color: #007a63;
}

.btn.logout:hover {
    background-color: #c63a2b;
}
